doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    //- link(rel="stylesheet", href="http://unpkg.com/mvp.css")
    title=title
  body
    #chat_view
      h2.roomNameBox=`${title}`
      #chats
      form#type
        input(name='text')
        button(type="submit") 전송
    form(action="/", method="post")
      input(type="hidden", name="roomId", value="<%= roomId%>")
      input(type="hidden", name="deleteRooms", value="true")
      //- button#btn(type="button", onclick="showAlert()") Home
      button#btn Home

    script(src="/chat.js") 