<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.CounselVO">

	<!-- 지식인 상담 신청 -->
	<insert id="insertCounselBoard" parameterType="BoardVO">
		INSERT INTO board(board_title, board_register_date, board_content, user_id, filed_idx) 
		VALUES(#{board_title}, now(), #{board_content}, #{user_id}, #{filed_idx})
	</insert>

    
    <insert id="insertCounsel" parameterType="CounselVO">
        insert into board_reply() values()
    </insert>

    <select id="getCounsel" parameterType="CounselVO" resultType="CounselVO">
        select * from board_reply where
    </select>

    <select id="getCounselList" resultType="CounselVO">
        select * from board_reply 
    </select>


</mapper>