<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.CourtsDAO">

	<!-- 법원마커생성 01.10 김모세 -->
	<select id="showCourtsMarker" resultType="CourtsVO">
		SELECT c.courts_name, a.address_lat, a.address_long
		FROM follaw.courts c
		INNER JOIN follaw.address a ON c.address_idx = a.address_idx
	</select>

	<!-- 법원리스트 01.11 김모세 -->
	<select id="courtList" resultType="CourtsVO">
		SELECT c.courts_name, c.courts_city, c.courts_tel, a.address_lat, a.address_long, a.address_val
		FROM follaw.courts c
		INNER JOIN follaw.address a ON c.address_idx = a.address_idx
	</select>

	<!-- 법원검색 01.12 김모세 -->
	<select id="searchCourt" resultType="CourtsVO">
		SELECT c.courts_name, c.courts_city, c.courts_tel, a.address_lat, a.address_long, a.address_val
		FROM follaw.courts c
		INNER JOIN follaw.address a ON c.address_idx = a.address_idx
		<where>
		<if test="option != '전국' and name != null">
			AND c.courts_city = #{option} AND c.courts_name LIKE CONCAT ('%',#{name},'%')
		</if>
		<if test="option != '전국' and name == null">
			AND c.courts_city = #{option}
		</if>
		<if test="option == '전국' and name != null">
			AND c.courts_name LIKE CONCAT ('%',#{name},'%')
		</if>
		</where>
	</select>

</mapper>