<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.LawsDAO">

	<select id="getLawsSort" resultType="String">
		select laws_act from laws group by laws_act
	</select>

	<select id="getLawsByAct" parameterType="LawsVO" resultType="LawsVO">
		select * from laws where laws_act = #{laws_act}
	</select>

</mapper>