<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- ******************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.LawyerDAO">


	<select id="loginLawyer" parameterType="LawyerVO" resultType="LawyerVO">
		SELECT *
		FROM lawyers
		where lawyer_id=#{lawyer_id} AND lawyer_pass=#{lawyer_pass}
	</select>
	
	<!-- 입력 (MyBatis를 통해 데이터베이스에 삽입)-->
	<insert id='insertLawyer' parameterType='LawyerVO'>
        INSERT INTO lawyers(lawyer_name, lawyer_id, lawyer_pass, lawyer_birth, lawyer_tel, lawyer_exam, lawyer_exam_num)
        VALUES (#{lawyer_name}, #{lawyer_id}, #{lawyer_pass}, #{lawyer_birth}, #{lawyer_tel}, #{lawyer_exam}, #{lawyer_exam_num} )
	</insert>

</mapper>