<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.ReportDAO">
    <!-- 신고글 등록 01.23 김모세 -->
    <insert id="insertReport" parameterType="ReportVO">
        INSERT INTO follaw.report_board (title, writer, lawyer_id, user_id, category, reported_user, contents, report_date, report_read)
        VALUES (
            #{title},
            #{writer},
            #{lawyer_id},
            #{user_id},
            #{category},
            #{reported_user},
            #{contents},
            now(),
            1
        )
    </insert>
    <!-- 관리자 신고글 리스트 01.25 김모세 -->
    <select id="reportList" parameterType="ReportVO">
        SELECT *
        FROM follaw.report_board
        WHERE report_read = 1
    </select>
    <!-- 관리자 신고글 상세보기 01.26 김모세 -->
    <select id="reportView" parameterType="ReportVO">
        SELECT *
        FROM follaw.report_board
        WHERE report_idx = #{report_idx}
    </select>
    <!--  관리자 신고글 읽음 01.26 김모세 -->
    <update id="reportRead" parameterType="ReportVo">
        UPDATE follaw.report_board
        SET report_read = 0
        WHERE report_idx = #{report_idx}
    </update>
    <!--  관리자 신고글 보관함 01.26 김모세 -->
    <select id="reportListConfirm" parameterType="ReportVO">
        SELECT *
        FROM follaw.report_board
        WHERE report_read = 0
    </select>
    <!-- 관리자 신고글 상세보기 01.26 김모세 -->
    <select id="reportViewConfirm" parameterType="ReportVO">
        SELECT *
        FROM follaw.report_board
        WHERE report_idx = #{report_idx}
    </select>
    <!-- 관리자 메인 대시보드 미확인신고 01.26 김모세 -->
    <select id="dashReport" parameterType="ReportVO">
        SELECT count(*)
        FROM follaw.report_board
        WHERE report_read = 1
    </select>
    <!-- 관리자 신고 게시글 삭제 01.29 김모세 -->
    <delete id="reportDelete" parameterType="ReportVO">
        DELETE
        FROM follaw.report_board
        WHERE report_idx = #{report_idx}
    </delete>
</mapper>