doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/videoStyle.css")
        //- link(rel="stylesheet", href="http://unpkg.com/mvp.css")
        script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
    body
        main
            h3#title_username="의뢰인 : "
            h3#title_lawyername="변호사 : "
            div#call
                h2.roomNameBox=`방제 : ${title}`
                div#myStream(style="margin-left: 70px;") 
                    //playsinline -> 모바일 브라우저가 필요로 하는 property(전체화면이 되지 않게 해준다->웹사이트에서 실행)
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    video#peerFace(autoplay, playsinline, width="400", height="400")
                    //버튼생성
                    button#mute Mute
                    button#camera Turn Camera Off
                    //유저들이 가지고 있는 카메라 목록
                    select#cameras
            div#chat_view
                #chats
                form#type
                    input(name='text')
                    button(type="submit") 전송
            form(action="/", method="post")
            input(type="hidden", name="title", value=`${title}`)
            input#userId(type="hidden", name="user")
            button#deleteBtn 나가기
        //- script(src="/socket.io/socket.io.js")
        script(src="/public/video.js")